body {
  display: grid;
  background-color: #ffc251;
  color: #4e4637;
}

/*
Profile animation
*/
.profile {
  animation: animatedcrossfade 2s;
  border-radius: 25%;
  max-width: 25rem;
  border: 0.5rem solid #ffeeca;
}
@keyframes animatedcrossfade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  color: #402e32;
}

.subtitle {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  height: fit-content;
  width: fit-content;
  position: relative;
  color: #402e32;
}

.subtitle::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 75%;
  border-right: 2px solid #000000;
  animation: blink 0.75s infinite ease;
}

.headingdiv {
  padding: 2.5rem;
}

.formatter {
  display: flex;
  align-content: left;
  justify-content: left;
  margin: 2rem;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: flex-start;
  width: 90%;
  z-index: 2;
  margin: 0% 5% 0% 5%;
}

.reachmeout {
  margin: 10rem 2.5rem;
}
.reachmeout td {
  padding: 2rem;
  font-size: 2rem;
}
.reachmeout a {
  outline: none;
  text-decoration: none;
  /* color: white; */
}

.stylisethisbutton {
  background-color: #fffbf800;
  padding: 20px 20px;
  border-radius: 50%;
  margin: 2rem;
  color: #402e32;
}

.stylisethisbutton:hover {
  background-color: #ffc251;
  padding: 20px 20px;
  width: 20px;
  height: 20px;
  transition: 0.5s;
  filter: drop-shadow(0rem 0rem 0.5rem rgb(0, 0, 0));
  border-radius: 50%;
  color: #2d2920;
}

.actualresume {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: left;
  align-items: left;
  margin: 0rem 5% 2rem 5%;
  height: fit-content;
  background: linear-gradient(
    to right bottom,
    rgba(255, 238, 202, 0.2),
    rgba(255, 238, 202, 0.1)
  );
  backdrop-filter: blur(0.5rem);
  font-size: 36px;
  font-family: "Dongle", sans-serif;
  color: #2d2920;
  padding: 2rem;
  z-index: 2;
  border-radius: 0.5rem;
}

.resumelink {
  all: unset;
}
.resumelink:hover {
  all: unset;
  transition: 0.25s;
  color: #ff0000;
}

.skills-waale-blobs {
  background-color: #ffeeca;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem;
  filter: drop-shadow(0rem 0rem 0.15rem rgb(0, 0, 0));
  color: #000000;
}

.skills-waale-blobs-ka-joda {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.project-redirect {
  text-align: center;
  font-size: 2.5rem;
}

.cicle1,
.cicle2,
.cicle3,
.cicle4 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 238, 202, 0.3),
    rgba(255, 238, 202, 0.1)
  );
  backdrop-filter: blur(0.5rem);
  height: 20rem;
  width: 20rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.cicle1 {
  top: 125%;
  right: 3%;
}
.cicle2 {
  bottom: -90%;
  left: 2%;
}
.cicle3 {
  top: 25%;
  right: 4%;
}
.cicle4 {
  bottom: -15%;
  left: 7%;
}
.cicle3,
.cicle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 238, 202, 0.3),
    rgba(255, 238, 202, 0.1)
  );
  backdrop-filter: blur(0.5rem);
  height: 20rem;
  width: 20rem;
  position: absolute;
  z-index: 1;
  border-radius: 20%;
}


.Projects {
  background-color: #ffeeca;
  color: #2d2920;
  font-family: "Dongle", sans-serif;
  font-size: 36px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0% 5% 5% 5%;
  padding: 2rem;
  border-radius: 0.5rem;
  flex-direction: column;
  align-content: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 238, 202, 0.2),
    rgba(255, 238, 202, 0.3)
  );
  backdrop-filter: blur(0.5rem);
  z-index: 2;
}

.my-projects-heading {
  padding: 2rem;
  color: #4e4637;
  background-color: #ffda95;
  border-radius: 2rem;
  font-family: "Montserrat", sans-serif;
}

.my-projects-heading:hover {
  filter: drop-shadow(0rem 0rem 0.15rem rgb(0, 0, 0));
  transition: 0.5s;
  color: #000000;
}

.Project-Element {
  border: 2px solid #00000000;
  padding: 5rem;
  margin: 2.5% 5%;
  width: 80%;
  max-width: fit-content;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 238, 202, 0.3),
    rgba(255, 238, 202, 0.1)
  );
  backdrop-filter: blur(1rem);
}

.Project-Element:hover {
  transition: 0.5s;
  border-color: #000000;
  padding: 4.75rem;
}

.Project-Element img {
  width: 100%;
}
.Project-Element h2 {
  font-size: 4rem;
}
.Project-Element h4 {
  font-size: 2rem;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}
.unbuilt-Project-Element {
  border: 0.12rem solid black;
  padding: 5rem;
  margin: 2.5% 5%;
  width: 80%;
  max-width: fit-content;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}
.unbuilt-Project-Element img {
  width: 100%;
}
.my-projects-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.projects-ka-joda {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*
typewriter animation.
sauce:
https://www.youtube.com/watch?v=w1nhwUGsG6M
https://css-tricks.com/snippets/css/typewriter-effect/
*/
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Media Queries:*/

@media only screen and (max-width: 1250px) {
  .navbar {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0% 5% 0% 5%;
    flex-direction: column;
  }
  .headingdiv {
    padding: 1rem;
  }
  .reachmeout {
    margin: 2rem 2rem;
  }
  .reachmeout td {
    padding: 2rem;
    font-size: 2rem;
  }
  .reachmeout a {
    outline: none;
    text-decoration: none;
    /* color: white; */
  }
  .profile {
    border: 0.5rem solid #dfdce371;
  }
  .my-projects-heading {
    filter: drop-shadow(0rem 0rem 0.15rem rgb(0, 0, 0));
    transition: 0.5s;
    color: #000000;
  }
}
