body {
  display: grid;
  background-color: #ffda95;
  color: #4E4637;
}

/*
Profile animation
*/
.profile {
  animation: animatedcrossfade 2s;
  border-radius: 25%;
  max-width: 25rem;
  border: 0.5rem solid #FFEECA;
}
@keyframes animatedcrossfade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  color: #805600;
}

.subtitle {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  height: fit-content;
  width: fit-content;
  position: relative;
  color: #805600;
}

.subtitle::after{
  content:"";
  position: absolute;
  right: -5px;
  width: 1px;
  height:75%;
  border-right: 2px solid #000000 ;
  animation: blink .75s infinite ease;
}

.headingdiv {
  padding: 2.5rem;
}

.formatter {
  display: flex;
  align-content: left;
  justify-content: left;
  margin: 2rem;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: flex-start;
  width: 90%;
  margin: 0% 5% 0% 5%;
}

.reachmeout {
  margin: 10rem 2.5rem;
}
.reachmeout td {
  padding: 2rem;
  font-size: 2rem;
}
.reachmeout a {
  outline: none;
  text-decoration: none;
  /* color: white; */
}

.stylisethisbutton {
  background-color: #fffbf800;
  padding: 20px 20px;
  border-radius: 50%;
  margin: 2rem;
  color: #4E4637;
}

.stylisethisbutton:hover {
  background-color: #ffda95;
  padding: 20px 20px;
  transition: .5s;
  filter: drop-shadow(0rem 0rem 0.5rem rgb(0, 0, 0));
  border-radius: 50%;
  color: #2d2920;
}

.actualresume {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: left;
  align-items: left;
  margin: 0rem 5% 2rem 5%;

  height: fit-content;
  background-color: #FFEECA;
  font-size: 24px;

  color: #4E4637;
  padding: 2rem;
  border-radius: 0.5rem;
}

.skills-waale-blobs {
  background-color: #FFEECA;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #4E4637;
  margin: 1rem;
}
.skills-waale-blobs:hover {
  background-color: #ffda95;
  filter: drop-shadow(0rem 0rem 0.15rem rgb(0, 0, 0));
  transition: 0.5s;
  color: #000000;
}

.skills-waale-blobs-ka-joda {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.Projects {
  background-color: #FFEECA;
  color: #4E4637;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0% 5% 5% 5%;
  padding: 2rem;
  border-radius: 0.5rem;
  flex-direction: column;
  align-content: center;
}

.my-projects-heading {
  padding: 2rem;
  color: #4E4637;
  background-color: #ffda95;
  border-radius: 2rem;
  font-size: 2rem;
}

.my-projects-heading:hover {
  background-color: #ffda95;
  filter: drop-shadow(0rem 0rem 0.15rem rgb(0, 0, 0));
  transition: 0.5s;
  color: #000000;
}


.Project-Element {
  border: 2px solid #00000000;
  padding: 5rem;
  margin: 2.5% 5%;
  width: 80%;
  max-width: fit-content;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.Project-Element:hover{
  transition: .5s;
  border: .25rem solid #ffda95;
  padding: 4.75rem;
}

.Project-Element img {
  width: 100%;
}
.unbuilt-Project-Element {
  border: 0.12rem solid black;
  padding: 5rem;
  margin: 2.5% 5%;
  width: 80%;
  max-width: fit-content;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}
.unbuilt-Project-Element img {
  width: 100%;
}
.my-projects-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.projects-ka-joda {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*
typewriter animation.
sauce:
https://www.youtube.com/watch?v=w1nhwUGsG6M
https://css-tricks.com/snippets/css/typewriter-effect/
*/
@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*Media Queries:*/

@media only screen and (max-width: 1250px) {
  .navbar {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0% 5% 0% 5%;
    flex-direction: column;
  }
  .headingdiv {
    padding: 1rem;
  }
  .reachmeout {
    margin: 2rem 2rem;
  }
  .reachmeout td {
    padding: 2rem;
    font-size: 2rem;
  }
  .reachmeout a {
    outline: none;
    text-decoration: none;
    /* color: white; */
  }
  .profile {
    border: 0.5rem solid #dfdce371;
  }
}
